{% extends "base.html" %}

{% block content %}
    <h1 class="text-center my-5">活動履歴</h1>
    <div class="container">

      {# 議事録ページ取得 #}
      {% set minutes_pages = [] %}
      {% for page in pages if page.category == 'minutes' %}
          {{ minutes_pages.append(page) or "" }}
      {% endfor %}

      {# 逆順に並び替え #}
      {% set sorted_pages = minutes_pages | sort(attribute='date', reverse=true) %}

      {# カウンター変数 #}
      {% set ns = namespace(current_year="") %}
      {% set ns = namespace(current_month=0) %}

      {# 議事録の見出し取り出しループ #}
      {% for page in sorted_pages %}
        {% set page_year = page.date.strftime('%Y') %}
        {# 年が変わったら年を表示 #}
        {% if  page_year != ns.current_year %}
        <section class="mb-5">
          <h2 class="mb-3 border-bottom">{{ page_year }}年</h2>
          <ul class="list-group list-group-flush">
          {% set ns.current_year = page_year %}
        {% endif %}
            <li class="list-group-item">{{ page.date.strftime('%m') }}月 <a href="{{ SITEURL }}/{{ page.url }}">{{ page.summary | striptags }}</a></li>
          {% set ns.current_month = ns.current_month + 1 %}
        {# 月が11を超えたら閉じタグを表示してカウントをリセット #}
        {% if ns.current_month > 11 %}
          </ul>
        </section>
          {% set ns.current_month = 0 %}
        {% endif %}
      {% endfor %}
          </ul>
        </section>

    </div>
{% endblock  %}
