{% extends "base.html" %}

{% block main %}
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xxl-6">
          <article class="content">
            <header class="mb-4">
              <img src="{{ SITEURL }}/theme/img/street.jpg" class="img-fluid rounded article-title-image" alt="Title Image">
              <h1 class="my-4">記事タイトル</h1>
              <div class="d-flex align-items-center">
                <img src="{{ SITEURL }}/theme/img/author.webp" class="rounded-circle me-3" width="48" height="48" alt="Author">
                <div>
                  <h5 class="h6 mb-0">{{ AUTHOR }}</h5>
                  <small class="text-muted">2023年10月1日</small>
                </div>
              </div>
            </header>
            <div class="content">
              <h2>見出し2見出し2見出し2見出し2見出し2見出し2見出し2</h2>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
              <h3>見出し3見出し3見出し3見出し3見出し3見出し3</h3>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
              <h2>見出し2見出し2見出し2見出し2見出し2見出し2見出し2</h2>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
              <p>これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。これは記事の本文です。</p>
            </div>
          </article>
        </div>
      </div>
    </div>
{% endblock  %}
