{% extends "base.html" %}

{% block content %}
<!-- カルーセル -->
{% block contents %}
<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {# カルーセル #}
    {% set ns = namespace(active="") %}
    {% for catch, caption, picture in CAROUSEL -%}
    <div class="carousel-item {% if ns.active == '' -%}active{%- endif %}">
      <img src="{{ SITEURL }}/theme/img/{{ picture }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class=" fw-bolder">{{ catch }}</h2>
        <p>{{ caption }}</p>
      </div>
    </div>
    {%- set ns.active = "active" -%}
    {%- endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}

<!-- イントロ -->
{% block intro %}
<section class="intro py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-10 mb-4">
        <h2 class="text-center mb-4 fw-bolder">私たちの活動</h2>
        <p>Code for Harimaは、播磨地域の困ったことなどをITやテクノロジーと地域の力を合わせて考え、より良く、素敵な場所にしていこうという思いの人が集まったコミュニティです。参加する人達もさまざまで行政から大学、学生、ITエンジニア、それぞれの立場から、どのようなことができるかをゆるく話し合っています。</p>
        <p>Code for Harimaは、2018年7月に設立されました。活動地域は、加古川を中心に高砂、姫路ですが、それ以外の地域からの参加も歓迎します。活動の最新情報についてはFacebookページ、またはFacebookグループをご覧ください。過去の活動については、活動履歴をご覧ください。</p>
      </div>
      {# 活動内容 #}
      {% for activity,description,icon in MAIN_ACTIVITY -%}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <i class="bi {{ icon }} display-4 text-primary"></i>
            <h5 class="card-title">{{ activity }}</h5>
            <p class="card-text text-body-secondary text-center">{{ description }}</p>
          </div>
        </div>
      </div>
      {%- endfor %}
    </div>
  </div>
</section>
{% endblock %}

<!-- 定例会 -->
{% block meeting %}
<section class="meeting py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-10">
        <h2 class="text-center mb-4 fw-bolder">定例会</h2>
        <p>Code for Harimaは、毎月、第2火曜日19時から加古川ヤマトヤシキ7階「市民交流ひろば」で定例会を開催しています。定例会は、どなたでも参加できます。参加者全員で話し合い、話し合ったことを議事録に記録しています。定例会の議事録は、すべて公開しています。</p>
        <ul class="list-group">
          {# 議事録だけを抜き出し #}
          {% set filtered_articles = [] %}
          {% for article in articles if article.category == 'meeting' -%}
          {{ filtered_articles.append(article) or "" }}
          {%- endfor %}
          {# 抜き出したものから3件表示 #}
          {% for article in filtered_articles -%}
          {% if loop.index <= 3 -%} <li class="list-group-item list-group-item-action">
            <h5><a href="{{ SITEURL }}/{{ article.url }}" class="stretched-link">{{ article.title }}</a></h5>
            <p>{{ article.summary | striptags }}</p>
            </li>
            {%- endif %}
            {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- 新着記事 -->
{% block recent %}
<section class="recent py-5">
  <div class="container">
    <h2 class="text-center mb-4 fw-bolder">新着記事</h2>
    <div class="row">
      {% for article in articles if article.category == 'blog' -%}
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <div class="position-relative">
            {% if article.cover -%}
            <img src="{{ SITEURL }}/{{ article.cover }}" class="card-img-top" alt="">
            {% else %}
            <img src="{{ SITEURL }}/theme/img/noimg.webp" class="card-img-top" alt="">
            {%- endif %}
            <span class="position-absolute top-0 start-0 badge bg-primary">{{ article.tags[0] }}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="{{ SITEURL }}/{{ article.url }}" class="stretched-link">{{ article.title }}</a></h5>
            <p class="card-text">これは記事の簡単な説明です。これは記事の簡単な説明です。これは記事の簡単な説明です。</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <p class="text-center"><a href="/blog/" class="btn btn-primary">ほかの記事を読む</a></p>
</section>
{% endblock %}

{% endblock %}
